<div *ngFor="let note of notes;index as i" class="margin-top-10">
  <mat-card [ngStyle]="{'background-color' : note.background}">
    <div class="pins"><img [src]="note.pin.path" width="64px"></div>
    <div class="card-header">
      <mat-card-header>

        <mat-card-title>
          {{note.title}}
        </mat-card-title>
      </mat-card-header>
    </div>
    <div class="card-content">
      <mat-card-content>
        <p>
          {{note.description}}
        </p>
      </mat-card-content>
    </div>
    <div class="buttons">
      <div class="notesButtons">
        <button mat-icon-button>
          <mat-icon (click)="doingNote(note)" title="Doing">assignment</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="doneNote(note)" title="Done">assignment_turned_in</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="editNote(note)" title="Edit">settings</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon mat-icon-button (click)="deleteNote(note)" title="Delete">delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>

